/** Podpal Colors *******************/

/* Podpal Blue */
$podpal-blue: #4E73FF;
$podpal-blue-dark: #4463DA;
$podpal-blue-hover-light: #789AFF;
$podpal-blue-hover-dark: #3D57FE;
$podpal-blue-ghost: #F0F6FF;

/* Podpal Navy */
$podpal-navy-light: #3F3D56;
$podpal-navy-dark: #302D44;

/* Podpal Red */
$podpal-red-light: #F1564B;
$podpal-red-dark: #EA403B;

/* Podpal Green */
$podpal-green-light: #34CC8D;
$podpal-green-dark: #29a772;

/* Podpal Yellow */
$podpal-yellow-light: #FB9B09;
$podpal-yellow-dark: #FCBA14;


/** Neutral Colors *******************/

$neutral-0: #FFF;
$neutral-1: #F5F5F5;
$neutral-2: #D9D9D9;
$neutral-3: #262626;


/** Text Colors *******************/

$text-primary: #262626;
$text-secondary: #4D4D4D;
$text-inverse: #fff;