/** Proximity *******************/

$space-lg: 24px;
$space-md: 16px; 
$space-sm: 12px;
$space-xs: 8px;


/** Borders  *******************/

$border-basic: 1px solid;

$radius-lg: 8px;
$radius-md: 4px;
$radius-sm: 2px;
