/** Font Stacks *******************/

$font-xl: 500 50px/48px Roboto, sans-serif;
$font-lg: 500 20px/28px Roboto, sans-serif;
$font-md: 500 16px/24px Roboto, sans-serif;
$font-sm: 400 14px/22px Roboto, sans-serif;
$font-xs: 400 12px/20px Roboto, sans-serif;


